.modal-container {
	position: relative;
	z-index: 99;
	opacity: 0;

	&.open {
		opacity: 1;
	}

	&.opening {
		transition: opacity 200ms ease-in;
		opacity: 1;
	}

	&.closing {
		transition: opacity 200ms ease-out;
		opacity: 0;
	}

	.modal-overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.modal-content,
	.modal-close {
		position: relative;
		z-index: 2;
	}
}
